
section{
    height: 500px;
}
h1{
    font-size: 40px;
}
.big{
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left; 
    margin-left: 5%;
    padding: 2;
}
.nh{
    font-size: 40px;
    color: orange;
    font-weight: 700;
    
}
p{
    font-weight: 100;
   text-align: justify;
   font-size: 14px;
 }
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button-text{
    text-decoration: none;
    color: white;
    background-image:linear-gradient(lightsalmon, tomato);
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 700;
 }
 p{
    color: dimgray;
 }
 .dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 }
 .orange{
    color: orange;
 }
 .single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
 } 
 .exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 6%;
}
 #full-stack{
    border-left: 7px solid;
    border-image:  linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
 }
#baby-web{
    border-left: 7px solid;
    border-image:  linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
 }
.c{
    text-align: center;
}